
@{
    ViewBag.Title = "View";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}

<h2>Reports</h2>

<p>
    <br/>
    <br/>
</p>

<table align="center">
    <tr>
        <td align="center"><a href=" @Url.Action("Index", "StationeryCatalogReport", new { sessionId = sessionId})" ><img src="~/Content/ReportsIcon.png" height="100" width="90"></a></td>
        <td style="padding:50px"></td>
        <td align="center"><a href=" @Url.Action("Index", "ReorderReport",new { sessionId = sessionId})"><img src="~/Content/ReportsIcon.png" height="100" width="90"></a></td>
    </tr>
    <tr>
        <td align="center">Inventory Status Report</td>
        <td style="padding:20px"></td>
        <td align="center">Reorder Report By Category</td>
    </tr>
    <tr>
        <td style="padding:20px"></td>
    </tr>
    <tr>
        <td align="center"><a href=" @Url.Action("Index", "RequisitionReport",new { sessionId = sessionId})"><img src="~/Content/ReportsIcon.png" height="100" width="90"></a></td>
        <td style="padding:50px"></td>
        <td align="center"><a href=" @Url.Action("TrendAnalysis", "Trend",new { sessionId = sessionId})"><img src="~/Content/TrendsIcon.png" height="100" width="90"></a></td>
    </tr>
    <tr>
        <td align="center">Requisition Report By Department</td>
        <td style="padding:20px"></td>
        <td align="center">Trend Analysis</td>
    </tr>
</table>

