
@{
    ViewBag.Title = "DeptSubmit";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}

<h2>DeptSubmit</h2>

