
@{
    ViewBag.Title = "TrendSubmit";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}
@ViewBag.res;
<h2>TrendSubmit</h2>

