<style>
    .footer {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif left: 0;
        bottom: 0;
        width: 100%;
        font-size: smaller;
        color: black;
        padding-top: 25px;
    }
</style>

<div class="footer">
    <div class="col-md-4">
        <h5><b>SUPPORT</b></h5>
        <p>IT Support</p>
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
    </div>
    <div class="col-md-4">
        <h5><b>CONTACT INFO</b></h5>
        <p>44 Main Street,Orchard Road,Singapore 99888 </p>
        <p>+65-96897760/+65-90306890</p>
        <p>support@stationery-management.com</p>
    </div>
    <div class="col-md-4">
        <h5><b>COMPANY INFO</b></h5>
        <p>Web agency created in 2014</p>
        <p>Contact us for custom projects</p>
        <p>Make a good discount for us</p>
    </div>
    <hr>
    <h6 style="align-content:center"><b>&copy; @DateTime.Now.Year - Stationery Management-All Copyright Reserved</b></h6>
</div>