@{
    ViewBag.Title = "Home Page";
}

@{
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    int num = (int)ViewData["num"];

}

<h2>Home Page</h2>



@*<div class="row">
        <div class="col-md-4">
            @Html.ActionLink("RequisitionForms", "Index", "RequisitionForms", new { sessionId = sessionId }, new { @class = "hhhh" })
            @if (num > 0)
            {
              <p style="color:crimson">@num New Requests</p>
            }

        </div>

    </div>*@

<table align="center">
    <tr>
        <td align="center">
    
            <a href=" @Url.Action("Index", "RequisitionForms",new { sessionId = sessionId })"><img src="~/Images/test1.jpg" height="100" width="90"></a>
            @if (num > 0)
            {
                <p style="color:crimson">@num New Requests</p>
            }
        </td>
        <td style="padding:50px"></td>
        <td align="center"><a href=" @Url.Action("Index", "ReorderReport")"><img src="~/Content/ReportsIcon.png" height="100" width="90"></a></td>
    </tr>
    <tr>
        <td align="center">
            RequisitionForms
        </td>
        <td style="padding:20px"></td>
        <td align="center">Reorder Report By Category</td>
    </tr>
    <tr>
        <td style="padding:20px"></td>
    </tr>
    <tr>
        <td align="center"><a href=" @Url.Action("Index", "RequisitionReport")"><img src="~/Content/ReportsIcon.png" height="100" width="90"></a></td>
        <td style="padding:50px"></td>
        <td align="center"><a href=#><img src="~/Content/TrendsIcon.png" height="100" width="90"></a></td>
    </tr>
    <tr>
        <td align="center">Requisition Report By Department</td>
        <td style="padding:20px"></td>
        <td align="center">Trend Analysis</td>
    </tr>
</table>