@{
    ViewBag.Title = "Home Page";
}

@{
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    int num = (int)ViewData["num"];

}

<h2>Home Page</h2>

<div class="jumbotron">
    <h1>Stationery Management System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("RequisitionForms", "Index", "RequisitionForms", new { sessionId = sessionId }, new { @class = "hhhh" })
        @if (num > 0)
        {
          <p style="color:crimson">@num New Requests</p>
        }

    </div>
    <div class="col-md-4">
        @Html.ActionLink("Balahbalah", "Index", "RequisitionForms", new { sessionId = sessionId }, new { @class = "hhhh" })

    </div>
    <div class="col-md-4">
        @Html.ActionLink("Balahbalah", "Index", "RequisitionForms", new { sessionId = sessionId }, new { @class = "hhhh" })

    </div>
</div>